/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, button,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  background: transparent;
  text-align: inherit;
  color: inherit;
  box-sizing: inherit;
}

body {
  background: #000;
  color: white;
  box-sizing: content-box;
  line-height: 1.5;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  min-width: 433px;
}

ul {
 list-style: none;
}

// Clearfix
.group:before {
  content: "";
  display: block;
  clear: both;
}

// Splash Page
.main {
  font-weight: lighter;
  background: linear-gradient(to right, #000, rgba(0,0,0,0)), asset-url("mainSplash2.jpg") no-repeat center;
  height: 800px;
  width: auto;
  background-size: cover;
}

 header {
  height: 90px;
  border: 0;
  width: 100%;
 }

.main-logo {
  background-image: asset-url("CineFlix.png");
  height: 50px;
  width: 185px;
  background-size: cover;
  float: left;
  margin: 18px 26.719px 0px 26.719px;
}

.main-signin {
  float: right;
  margin: 18px 26.719px 0px 26.719px;
}

.link-signin {
  font-size: 14px;
  letter-spacing: 1.5px;
  float: right;
  padding: 6px 16px 6px 16px;
  background: #E50914;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 2px solid #880000
}

.link-signin:active {
  background-color: #BF0000;
  border-bottom: none;
  bottom: -2px;
}

.link-signin:hover {
  background:rgb(244, 6, 18);
  cursor: pointer;
}

.main-description {
  color: white;
  padding: 150px 0 350px 26.719px;
}

.main-catchphrase {
  font-size: 70px;
  text-shadow: 1px 1px 10px #000;
  font-weight: 700;
  line-height: 1.4em;
}

.main-motto {
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 0 0 20px 0;
  font-size: 23px;
  font-weight: 300;
}

.main-signup a {
  text-transform: uppercase;
  background: #E50914;
  display: block;
  float: left;
  font-size: 12px;
  letter-spacing: 1.9px;
  padding: 11px;
  border-radius: 3px;
  border-bottom: 2px solid #880000
}

.main-signup a:hover {
  background:rgb(244, 6, 18);
}

.main-signup a:active {
  background-color: #BF0000;
  border-bottom: none;
  bottom: -2px;
}

.main-guest-signin {
  display: block;
  float: left;
  padding: 11px;
  background: #E50914;
  margin: 0 0 0 30px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  border-bottom: 2px solid #880000
}

.main-guest-signin:active {
  background-color: #BF0000;
  border-bottom: none;
  bottom: -2px;
}

.main-guest-signin:hover {
  cursor: pointer;
  background:rgb(244, 6, 18);
}

// Footer

.main-footer {
  background: #141414;
  height: 150px;
  margin: 0 auto;
  color: white;
  font-weight: lighter;
}

.main-questions {
  float: left;
  display: block;
  margin: 30px 0 0 30px;
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  border-bottom: 2px solid #565353;
}

.main-footer-ul {
  float: right;
  margin: 30px 30px 0 0;
}

.main-footer-ul li {
  float: left;
  margin: 0 0 0 50px;
  display: block;
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  letter-spacing: 2.2px;
  border-bottom: 2px solid #565353;
}

.main-footer-ul li:hover {
  cursor: pointer;
  background: #767676;
}

.main-footer-ul li:active {
  background-color: #BF0000;
  border-bottom: none;
  bottom: -2px;
}

// Signin and Signup Page
.session-background {
  background-image: asset-url("signInBack");
  background-size: cover;
  height: 773px;
}

.session-form {
  margin: 30px auto;
  width: 380px;
  padding: 40px;
  height: 447px;
  background: #f3f3f3;
  border: 2px solid #ccc;
  color: #333;
  font-weight: 350;
}

.session-header {
  font-size: 36px;
  margin: 0 0 10px;
  padding: 0;
}

.form-label {
  position: relative;
}

.email,
.password,
.username {
  width: 100%;
  height: 22px;
  padding: 11px 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 16px;
  margin-bottom: 20px;
}

.session-button {
  background: rgb(229, 9, 20);
  width: 348px;
  padding: 16px;
  margin: 9px;
  color: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,.55);
  font-size: 18px;
  font-weight: 250;
  letter-spacing: 0.5px;
}

.session-button:hover {
  cursor: pointer;
  background:rgb(244, 6, 18);
}

.new-session-signin,
.new-session-signup,
.new-session-guestSignIn {
  color: #0080FF;
}

.new-session-signup:hover,
.new-session-signin:hover,
.new-session-guestSignIn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-errors {
  color: red;
}

.emailError,
.passwordError,
.usernameError {
  list-style: none;
  color: #B00500;
  bottom: auto;
  font-size: 12px;
  position: absolute;
  display: block;
  bottom: -30px;
}

.form-error {
  display: block;
  margin: 0 auto;
  background: #7F7E7E;
  text-align: center;
  color: white;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 2px;
}
