.browse-header {
  position: fixed;
  height: 90px;
  top: 0;
  background: linear-gradient(to bottom, #000, rgba(0,0,0,0)), no-repeat center;
  z-index: 1;
}

.browser-content {
  height: 45em;
  background-image: asset-url("browser_most_recent.jpg");
  background-size: cover;
}

.browse-logo {
  background-image: asset-url("CineFlix.png");
  height: 50px;
  width: 185px;
  background-size: cover;
  float: left;
  margin: 18px 26.719px 0px 26.719px;
}

.browse-logo:hover {
  cursor: pointer;
}

.navbrowse {
  padding: 30px 26.719px 20px 26.719px;
  float: left;
  color: #E50914;
  font-weight: 400;
  cursor: pointer;
  background: transparent;
  display: inline-block;
  position: relative;
}

.browse-user {
  background: transparent;
  color: white;
  padding: 30px 26.719px 20px 26.719px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  text-transform: capitalize;
  top: 0px;
  right: 20px;
}

.browse-user:hover {
  .profile-dropdown-item {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
  }
}

.profile-dropdown-item {
  display: none;
  border-top: 2px solid #fff;
  background: rgba(0,0,0,.7);
  width: 165px;
}

.profile-sign-out {
  cursor: pointer;
  padding: 1.5em 2em;
  font-size: 12px;
  color: #fff;
}

.navbrowse:hover {
  .navbrowse-dropdown-item {
    display: block;
    position: absolute;
    top: 60px;
    left: 28px;
  }
}

.navbrowse-dropdown-item {
  display: none;
  border-top: 2px solid #fff;
  background: rgba(0,0,0,.7);
  width: 165px;
}

.navbrowse-home {
  cursor: pointer;
  padding: 1.5em 2em;
  font-size: 12px;
  color: #fff;
}
