.slick-slider
{
    position: relative;
    display: block;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 0 30px 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.sliderPopper{
  display: block;
  width: 100%;
  height: 300px;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    max-width: 100%;
    padding: 5px;
    background: #141414;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}


@charset 'UTF-8';

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
    line-height: 1;
    font-weight: bolder;
    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  height: 83%;
  width: 50px;
  right: -40px;
  top: 69px;
  background: black;
  background-image: asset-url("arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
.slick-next:before{
    height: 100%;
    content: '';
}

.slick-prev:before{
  display: none;
}

.carouselContainer:hover .slick-next {
  opacity: 1;
}

.slick-next:hover{
   opacity: 1;
}
